################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CollegeAPI/.vs/CollegeAPI/FileContentIndex/1e7dc66d-4004-4c47-a1e8-845176082669.vsidx
/CollegeAPI/.vs/CollegeAPI/FileContentIndex
/CollegeAPI/.vs/CollegeAPI/FileContentIndex/27d1e1a4-1e22-4f9d-a30c-40605ccda7e9.vsidx
/CollegeAPI/.vs/CollegeAPI/FileContentIndex/63dfdcb9-5c69-4c33-847e-a7e0fa0dcf61.vsidx
/CollegeAPI/.vs/CollegeAPI/FileContentIndex/9c62bd00-e61b-4b5e-bafb-6748aea7348c.vsidx
/CollegeAPI/.vs/CollegeAPI/FileContentIndex/f8758969-dcca-4d1d-91c2-6dbdbffe0037.vsidx
